.panel-body-img {
    height: 310px;
}

.panel-body-img p {
    margin: -18px 15px 12px 28px;
}

img{
    margin: 18px 0px 4px 24px
}

p #img_name{
    margin-left: 10px;
}

h4 {
    margin-left: 1px;
}

#img1{
    margin: 18px 0px 4px 4px
}

.com{
    margin-bottom: 15px;
}